<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Split Fiction</title>
  <link rel="icon" href="static/favicon.ico?v=2" type="image/x-icon">
  <link rel="stylesheet" href="static/styles.css" />
</head>
<body>
    <header>
        <h1>Split Fiction</h1>
        <button id="info-toggle">&#9660;</button>
      
        <div id="info-box">
          <p>
            Dit project is gemaakt door de leerlingen: Xander, Noah, Floris, Lucas, Marit en Rogier
            <br>
            <br>
            Alle tekeningen in dit project zijn gemaakt met de hulp van docenten en leerlingen uit klassen 1, 3 en 5.
            <br>
            <br>
            [Informatietekst over het project]
        </p>
        </div>  
    </header>
      

  <div id="overlay"></div>

  <div class="gallery">
    <div class="image-container" id="head-container">
      <button class="prev" onclick="changeImage('Heads', -1)">&#9664;</button>
      <img id="heads" src="static/tekeningen/Heads/1.png" alt="Head">
      <button class="next" onclick="changeImage('Heads', 1)">&#9654;</button>
      <div id="heads-info"></div> <!-- Infotekst voor Heads -->
    </div>
    <div class="image-container" id="body-container">
      <button class="prev" onclick="changeImage('Bodys', -1)">&#9664;</button>
      <img id="bodys" src="static/tekeningen/Bodys/1.png" alt="Body">
      <button class="next" onclick="changeImage('Bodys', 1)">&#9654;</button>
      <div id="bodys-info"></div> <!-- Infotekst voor Bodys -->
    </div>
    <div class="image-container" id="legs-container">
      <button class="prev" onclick="changeImage('Legs', -1)">&#9664;</button>
      <img id="legs" src="static/tekeningen/Legs/1.png" alt="Legs">
      <button class="next" onclick="changeImage('Legs', 1)">&#9654;</button>
      <div id="legs-info"></div> <!-- Infotekst voor Legs -->
    </div>
  </div>
  
  <script src="static/script.js"></script>
</body>
</html>
